/* src/components/ModalAboutResponsive.css */

/* Media queries for mobile and tablet */

/* Tablet view (768px and below) */
@media (max-width: 768px) {
    .aboutmodal_content {
      max-width: 80%;
      width: 90%;
      padding: 15px;
    }
  
    .aboutInfo {
      flex-direction: column;
      align-items: center;
      gap: 1em;
    }
  
    .aboutInfoLogo img {
      height: 200px;
      width: 200px;
    }
  
    .aboutinfoDescription > div {
      text-align: center;
      align-items: center;
    }
  }
  
  /* Mobile view (480px and below) */
  @media (max-width: 480px) {
    .aboutmodal_content {
      max-width: 90%;
      width: 95%;
      padding: 10px;
    }
  
    .aboutInfo {
      flex-direction: column;
      align-items: center;
      gap: 0.5em;
    }
  
    .aboutInfoLogo img {
      height: 150px;
      width: 150px;
    }
  
    .aboutinfoDescription > div {
      text-align: center;
      align-items: center;
    }
  
    .aboutmodal_content_closebtn {
      font-size: 20px;
      top: 5px;
      right: 5px;
    }
  }
  