/* .rajdhani-regular {
    font-family: "Rajdhani", sans-serif;
    font-weight: 400;
    font-style: normal;
  } */

  .MuiPaper-root ,
  .MuiBox-root ,
  .MuiButtonBase-root  {
    color: #0e0e17 !important;
    background-color: #F75049 !important;
    border: none !important;
    box-shadow: none !important;
    
  }