.pannel {
    background-color: #0e0e17 !important;
    color: #5ef0ff !important;
    display: flex;
    flex-direction: column;
    font-size: small;
    width: 50%;

}

/* summary content  */

.pannel-identity {

}

.pannel-identity > h2 {
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.pannel-identity > p {
    text-align: center;
    color: #F75049 !important;

}



.identity-container {
    display: flex;
    justify-content: center;
    align-items: center;

}

.identity-me-container {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    width: 10rem;
    border-radius: 50%;
}

.identity-helper-container {
    width: 50%;
    padding-left: 1em;
    border-left: 1px rgb(0, 0, 0) solid;
    
}

.identity-details {
    padding: 0.5em;
    /* border-left: 1px red solid ; */


}

.identity-details {

}

.detail-content > h3 {
    color: #F75049 !important;
    padding-bottom: 2px;
    border-bottom: 0.5px #F75049 solid ;
    font-size: small;

}

.detail-stat-content {
    display: flex;
    align-items: center;
    justify-content: center;
}

.identity-stats {
    width: 100%;
    margin: 0.5em;
}

.code {
    width: 50%;
}

.code > img {
    width: 5rem;
}

.stats {
    display: flex;
    align-items: center;
}

.stat-icon {
    /* background-color: antiquewhite; */

    margin-right: 1em ;
    color: #F75049;

}


/* skills sscreen  */

.skill-container {
    width: 50%;
    padding-left: 1em;
    border-left: 1px rgb(0, 0, 0) solid;

}

.skill-content {

}

.tech-stack {
    display: flex;
    flex-direction: column;
}

.tech {
    /* background-color: rgb(255, 145, 0); */

    width: 100%;
    padding: 1em;
}

.tech > span {
    color: #F75049;
}

.tech > ul {
    list-style-type: none;
    text-decoration: none;
}

.tech > ul li {
    cursor: pointer;
}

/* project screen  */


.project-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

  }
  
.project-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; /* Changed to space-between for better alignment */
    width: 100%;
    max-width: 1200px; /* Adjust based on your layout needs */
    margin: 0 auto; /* Center the gallery */
  }
  
.project-gallery .project-card {
    margin: 20px;
    flex: 1 1 calc(33.33% - 40px); /* Adjust for spacing, ensures 3 cards per row */
    box-sizing: border-box; /* Ensure padding and border are included in the total width and height */
  }
  
  /* Example styles for ProjectCard component */
.project-card {
    border: 1px solid #ddd;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    text-align: center;
  }
  
.project-card img {
    width: 100%;
    height: auto;
    border-radius: 8px;
  }
  
.project-card-title {
    margin: 10px 0;
    font-size: 1.5em;
  }
  
.project-card-description {
    font-size: 1em;
    color: #666;
  }


  /* contact screen  */

.contact-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;

  }

.methode {
    text-align: center;
    padding: 1em;

  }

.meth {
    background-color: #0e0e17;
    padding: 1.25em;
    width: 100%;
    border: #F75049 solid 0.5px;
    margin-bottom: 0.5em;
    cursor: pointer;

}

.meth:hover {
    border: none;
    border-bottom: #F75049 solid 0.5px;
    transition: 2ms;
}


