/* global init  */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    scroll-behavior: smooth;
    
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;

}

a,
a:visited,
a:link {
    text-decoration: none;
    color: navy;
    
}
