/* global init  */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}


.rajdhani-light {
    font-family: "Rajdhani", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
.rajdhani-regular {
    font-family: "Rajdhani", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
.rajdhani-medium {
    font-family: "Rajdhani", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
.rajdhani-semibold {
    font-family: "Rajdhani", sans-serif;
    font-weight: 600;
    font-style: normal;
  }
  
.rajdhani-bold {
    font-family: "Rajdhani", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  

body {
    scroll-behavior: smooth;
    
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #F75049 !important;
    /* background-image: url('./assets/Shoji-Lattice.jpg'); */

}

a,
a:visited,
a:link {
    text-decoration: none;
    
}
